<div class="container waiting_video_room">
	<div class="row">
		<div class="col-sm-9 video_status">
			<%= image_tag 'man.png', class: 'waiting_man'%>
		</div>
		<div class="col-sm-3">
			<div class="block">
				SOAP Notes
			</div>
			<div class="block">
				<%= image_tag 'video-icon.png', class:'stop_video'%>
			</div>
			<div class="block">
				screenshot
			</div>
			<div class="block">
				<span>End Call</span>
			</div>
		</div>
	</div>
</div>