<div class="container">
	<div class="col-sm-8 col-sm-offset-2 row" style="margin-top: 60px;">
		<div class="col-sm-6">
			<h2>Clinicians</h2>
		</div>
		<div class="col-sm-3 float-right pull-right">
			<%= link_to 'Add Clinician', clinician_index_path, class: 'btn btn-primary btn-lg btn-block' %>
		</div>
	</div>
</div>
<%= render 'patient/patient_header' %>
<div class="table-responsive">
  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Practice ID</th>
          <th>Provider Status</th>
          <th>Specialty Code</th>
          <th>Provider Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Example</td>
          <td>doctor@example1</td>
          <td>1231</td>
          <td>Full Register</td>
          <td>General Practice</td>
          <td>Physician</td>
        </tr>
        <tr>
          <td>John Example</td>
          <td>doctor@example1</td>
          <td>1231</td>
          <td>Full Register</td>
          <td>General Practice</td>
          <td>Physician</td>
        </tr>
        <tr>
          <td>John Example</td>
          <td>doctor@example1</td>
          <td>1231</td>
          <td>Full Register</td>
          <td>General Practice</td>
          <td>Physician</td>
        </tr>
        <tr>
          <td>John Example</td>
          <td>doctor@example1</td>
          <td>1231</td>
          <td>Full Register</td>
          <td>General Practice</td>
          <td>Physician</td>
        </tr>
        <tr>
          <td>John Example</td>
          <td>doctor@example1</td>
          <td>1231</td>
          <td>Full Register</td>
          <td>General Practice</td>
          <td>Physician</td>
        </tr>
        <tr>
          <td>John Example</td>
          <td>doctor@example1</td>
          <td>1231</td>
          <td>Full Register</td>
          <td>General Practice</td>
          <td>Physician</td>
        </tr>
      </tbody>
    </table>
</div>
<%= render 'patient/patient_footer' %>
		  