<%= render 'patient/patient_header' %>
<h1>Profile</h1>
<div class="text-center">
	<div class="profile_pic">
		<span class="glyphicon glyphicon-user"></span>
	</div>	
</div>
	<div class="row text-center">
	  <button type="button" class="btn btn-primary btn-lg">cancel</button>
	  <%= link_to 'Next', clinician_final_path, class: "btn btn-primary btn-lg next-btn" %>
	</div>
<%= render 'patient/patient_footer' %>
