<div class="container">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
		  	<div class="panel-body person_info">
				<h1>Waiting for Dr Dan to Start the <%= link_to 'Visit', video_chat_path %></h1>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.panel{
		margin-top: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 400px;
	}
	
</style>
