<% provide(:title, "Home") %>
<div class="container">
	<section id="appointment_panel">
		<div class="row appointment">
			<div class="col-sm-3">
				<div class="panel panel-default">
				  <div class="panel-body">
				   <h2 class="text-center">Completed Appointment</h2>
				  </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
				  <div class="panel-body">
					<h2 class="text-center">Missed Appointment</h2>
				  </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
				  <div class="panel-body">
					<h2 class="text-center">Patients</h2>
				  </div>
				</div>
			</div>
			<div class="col-sm-3 appointment_command">
			<%= link_to 'Add Patient', patient_index_path, class: 'btn btn-primary btn-lg btn-block' %>
			<%= link_to 'Add Doctor', doctor_index_path, class: 'btn btn-primary btn-lg btn-block' %>
			<%= link_to 'Add Clinician', clinician_index_path, class: 'btn btn-primary btn-lg btn-block' %>
			<%= link_to 'Add Clinic', clinic_index_path, class: 'btn btn-primary btn-lg btn-block' %>
			</div>
		</div>
	</section>
	<section id="date_picker">
		<div class="row">
			<div class="text-center col-md-2 col-md-offset-5">
				<div class='input-group date' id='datetimepicker1'>
	                    <input type='text' class="form-control" />
	                    <span class="input-group-addon">
	                        <span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	            </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h4 class="text-center">Doctor 1</h4>
				<div style="overflow:hidden;">
				    <div class="form-group">
				        <div class="row">
				            <div class="col-md-12 main_calendar">
				                <div id="datetimepicker12"></div>
				            </div>
				        </div>
				    </div>
				    <script type="text/javascript">
				        $(function () {
				            $('#datetimepicker12').datetimepicker({
				                inline: true,
				                sideBySide: false
				            });
				        });
				    </script>
				</div>
			</div>
			<div class="col-sm-4">
				<h4 class="text-center">Doctor 2</h4>
				<div style="overflow:hidden;">
				    <div class="form-group">
				        <div class="row">
				            <div class="col-md-12 main_calendar">
				                <div id="datetimepicker13"></div>
				            </div>
				        </div>
				    </div>
				    <script type="text/javascript">
				        $(function () {
				            $('#datetimepicker13').datetimepicker({
				                inline: true,
				                sideBySide: false
				            });
				        });
				    </script>
				</div>
			</div>
			<div class="col-sm-4">
				<h4 class="text-center">Doctor 3</h4>
				<div style="overflow:hidden;">
				    <div class="form-group">
				        <div class="row">
				            <div class="col-md-12 main_calendar">
				                <div id="datetimepicker14"></div>
				            </div>
				        </div>
				    </div>
				    <script type="text/javascript">
				        $(function () {
				            $('#datetimepicker14').datetimepicker({
				                inline: true,
				                sideBySide: false
				            });
				        });
				    </script>
				</div>
			</div>
		</div>
	</section>
</div>
