<div class="container">
	<section id="appointment_panel">
		<div class="row appointment">
			<div class="col-sm-3">
				<div class="panel panel-default">
				  <div class="panel-body">
				   <h2>completed Appointment</h2>
				  </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
				  <div class="panel-body">
					<h2>Missed Appointment</h2>
				  </div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
				  <div class="panel-body">
					<h2>Patients</h2>
				  </div>
				</div>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-primary btn-lg btn-block">Add patiend</button>
				<button type="button" class="btn btn-primary btn-lg btn-block">Doctor</button>
				<button type="button" class="btn btn-primary btn-lg btn-block">Add Clinician</button>
			</div>
		</div>
	</section>
</div>