<% provide(:title, "Patient info") %>
<%= render 'patient/patient_header' %>
<h1>Patient info</h1>
<div class="main_panel_part">
  <form class="person">
    <div class="form-row row">
      <label for="uli" class="col-sm-2 col-form-label col-form-label-sm col-sm-offset-2">Primiary ULI</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm block" id="uli" placeholder="">
      </div>
    </div>
    <div class="form-row row">
      <label for="insurer" class="col-sm-2 col-form-label col-form-label-sm col-sm-offset-2">Default Insurer</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="insurer" placeholder="">
      </div>
    </div>
    <div class="form-row row">
      <label for="family" class="col-sm-2 col-form-label col-form-label-sm col-sm-offset-2">Family Physician</label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" id="family" placeholder="">
      </div>
    </div>
  </form>
</div>
	<div class="row text-center pagenation_button">
	  <%= link_to 'Cancel', root_path, class:"btn btn-primary next-btn btn-lg" %>
	  <%= link_to 'Next', patient_profile_path, class: "btn btn-primary btn-lg next-btn" %>
	</div>
<%= render 'patient/patient_footer' %>
