<% provide(:title, "Patient list") %>
<div class="container">
	<div class="col-sm-8 col-sm-offset-2 row" style="margin-top: 60px;">
		<div class="col-sm-6">
			<h2>Patients</h2>
		</div>
		<div class="col-sm-3 float-right pull-right">
			<%= link_to 'Add Patient', patient_index_path, class: 'btn btn-primary btn-lg btn-block' %>
		</div>
	</div>
</div>
<%= render 'patient/patient_header' %>
<div class="table-responsive">
	<table class="table">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Email</th>
	        <th>Primary ULI</th>
	        <th>Family Physician</th>
	        <th>Default Insurer</th>
	        <th>Status</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>John Example</td>
	        <td>doctor@example1</td>
	        <td>1231</td>
	        <td>Doctor1</td>
	        <td>Insurer1</td>
	        <td>Active</td>
	      </tr>
	      <tr>
	        <td>John Example</td>
	        <td>doctor@example1</td>
	        <td>1231</td>
	        <td>Doctor1</td>
	        <td>Insurer1</td>
	        <td>Active</td>
	      </tr>
	      <tr>
	        <td>John Example</td>
	        <td>doctor@example1</td>
	        <td>1231</td>
	        <td>Doctor1</td>
	        <td>Insurer1</td>
	        <td>Active</td>
	      </tr>
	      <tr>
	       <td>John Example</td>
	        <td>doctor@example1</td>
	        <td>1231</td>
	        <td>Doctor1</td>
	        <td>Insurer1</td>
	        <td>Active</td>
	      </tr>
	      <tr>
	        <td>John Example</td>
	        <td>doctor@example1</td>
	        <td>1231</td>
	        <td>Doctor1</td>
	        <td>Insurer1</td>
	        <td>Active</td>
	      </tr>
	      <tr>
	        <td>John Example</td>
	        <td>doctor@example1</td>
	        <td>1231</td>
	        <td>Doctor1</td>
	        <td>Insurer1</td>
	        <td>Active</td>
	      </tr>
	    </tbody>
	  </table>
</div>
<%= render 'patient/patient_footer' %>
		  