
@import url('https://fonts.google.com/specimen/Lato?selection.family=Lato');
body{
	background: #f4f6f5;
	font-family: 'Lato';
}
.navbar-brand{
    margin-left: 50px;
}
.navbar-brand img{
	max-width: 200px;
	margin-top: -33px;
}
.navbar-default{
	background-color: #0c77b7;
	padding-top: 30px;
	padding-bottom: 10px;
}
.navbar-default .user_account_icon .user_info{
	margin-top: -10px;
}
.navbar-default .user_account_icon .user_info .user_name{
	position: relative;
	top: -5px;
	font-size: 18px;
}
.navbar-default .user_account_icon .login{
	margin-top: -5px;
	font-size: 18px;
}
.icon-addon {
    position: relative;
    color: #555;
    display: block;
}
.doctor-icon{
	width: 20px;
	height: 20px;
	margin: 0px auto;
}
.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 40px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}
 .icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: -30px;
}
.navbar-default .navbar-nav>li>a span {
    color: #fff;
}
.navbar-default .navbar-nav>li>a .glyphicon {
	color: #000;
}
.collapse .form-group{
	margin-bottom: 0px;
}
.navbar-nav .glyphicon{
	font-size: 30px;
}
.appointment .col-sm-3 .panel-body{
	min-height: 200px;
}
.navbar-default .custom-toggle .icon-bar {
    background-color: #888;
}
.custom-toggle{
	background-color: #0c77b7;
	border: none;
}
.custom-toggle .icon-bar {
    display: block;
    width: 37px;
    height: 4px;
    border-radius: 4px;
    margin-top: 7px;
}
.dropdown-toggle{
	padding: 0px !important;
}
.user_name{
	margin-left: 10px;
}
.main_calendar{
	background: #fff;
	padding: 10px 20px;
}
.appointment_command .btn{
	margin-top: 0px;
	margin-bottom: 5px;
}
#appointment_panel{
	margin-top: 50px;
}
#appointment_panel .panel-body{
	display: flex;
	align-items: center;
	justify-content: center;
}
#date_picker{
	margin-top: 50px;
}
.dropdown-menu{
	padding: 10px;
}
.panel-body{
	padding: 15px 30px;
}
.person_info .form-row{
	padding: 10px 0px 0px 0px;
}
.person_info form{
	padding-bottom: 20px;
}
.person_form .btn{
	margin-top: 24px
}
.person_info .form-row label{
	float: left;
}
.person_info .form-row input{
	float: right;
}
.appointment_command a{
	color: #fff;
}
.next-btn a{
	color: #fff;
}
.profile_pic{
	width: 150px;
	height: 150px;
	border: 1px solid #7777;
	margin: 30px auto;
	font-size: 100px;
	padding-top: 20px;
}
.final_dashboard .panel-body{
	min-height: 150px;
}
#accordion .person_card_info{
	border-bottom: 1px solid #7777;
	padding-bottom: 20px; 
}
#total_body{
	padding: 20px 0px !important;
}
#accordion .card>div{
	padding: 10px 40px 0px 40px;
}
#accordion .card-header .btn{
	margin-top: 30px;
}
.reports-modal:hover{
	cursor: pointer;
}
.input_doctor_patient label{
	margin-left: -15px;
}
.modal-body .form-calendar .input-group{
	margin-left: 55px;
	max-width: 171px;
}
.modal{
	top: 200px;
}
.dropdown-menu a span{
	color: #000;
}
.nav .user_login{
	margin-top: 20px;
	position: relative;
	top: 4px;
}
#waiting_room_dashboard{
	display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    table tr td,th{
    	vertical-align: middle;
    }
}
.waiting_room_header .panel-body{
	min-height: 200px;
    padding-top: 50px !important;
}
.camera-icon{
	width: 24px;
    height: 14px;
    margin-right: 3px;
    margin-top: -5px;
    opacity: 0.7;
}
.waiting_video_room{
	.video_status{
		display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	min-height: 600px;
	  	background: #fff;
	}
	.block{
		width: 100%;
		min-height: 150px;
		background: #fff;
		display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	border: 2px solid #7777;
	  	border-bottom: none;
	}
	.block:last-child{
	  	border-bottom: 2px solid #7777;
	}
	.stop_video{
		max-width: 100px;
	}
}
.soap_sign .block{
	width: 100%;
	min-height: 100px;
	background: #fff;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	border: 2px solid #7777;
  	border-bottom: none;
}
.soap_sign .block:last-child{
	  	border-bottom: 2px solid #7777;
}
.datepicker-days table tr{
	border-top: 1px solid #777;
	border-right: 1px solid #777;
	border-left: 1px solid #777;

}
.datepicker-days table tr:last-child{
	border-bottom: 1px solid #777;
	
}
.datepicker-days table tr td{
	border-right: 1px solid #777;
}
.clin_dropdown_menu{
	top: 62px;
    padding: 9px 5px 5px 5px;
    min-width: 200px;
}
.clin_dropdown_menu span{
	display: block;
}
.clin_dropdown_menu tr td{
	padding: 19px 18px !important;
    width: 97px;
    height: 93px;
}
.clin_dropdown_menu table{
	margin-bottom: 5px;
}
.clin_dropdown_menu tr td a:hover{
	text-decoration: none;
	cursor: pointer;
}
.last_menu_icon:hover{
	cursor: pointer;
}
#accordion .btn-default{
	border-color: #0c77b7 !important;
}
#accordion .btn-default:hover{
	background: #0c77b7 !important;
	 -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.pagenation_button{
	margin-bottom: 40px;
}
.main_panel_part{
	min-height: 260px;
	text-align: center;
	vertical-align: center;
	.profile_pic{
		margin-top: 120px;
	}
	.person{
		margin-top: 100px;
	}
}
.main_menu_home{
	background: #0c77b7!important;
	span.glyphicon-th{
		font-size: 30px !important;
		position: relative;
		top: 5px;
	}
}
.navbar-default .navbar-nav>.open>a:hover{
	background: #0c77b7;
}
.drop_item_text{
	margin-top: 10px;
}
.input_doctor_patient #inputpatient{
	position: relative;
	right: -15px;
}
.modal_time_picker{
	position: relative;
	right: -10px;
}
.waiting_room_person_name {
	text-align: center;
}
.waiting_room_person_name span{
	display: block;
	text-align: center;
}
.waiting_room_person_name img{
	margin-top: 0px auto;
	text-align: center;
}
.screenshot-block{
	text-align: center;
	img{
		width: 100px;
		display: block;
		margin-top: 20px;
	}
}
.user_account_icon{
	margin-right: 20px;
}
.search_bar{
	margin: auto;
    width: 30%;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
}
@media only screen and ( min-width:600px) and ( max-width:767px ){
	
}



@media only screen and ( min-width:768px) and ( max-width:960px ){
	
}

@media only screen and ( min-width: 320px) and ( max-width: 599px ){
	
}

@media only screen and (max-width: 768px){
	.search_bar {
	    width: 100%;
	    padding: 10px;
	    position: relative;
	    left: 0;
	    right: 0;
	    top: 20px;
	    bottom: 0;
	}
	.navbar-brand{
    margin-left: 0px;
	}
 	header .navbar-nav{
 		padding-left: 20px;
 	}
 	#appointment_panel {
	    margin-top: 10px;
	}
	#waiting_room_dashboard #exTab1{
		width: 100%;
	}
	.panel-body{
		padding: 5px !important;
	}
	
}
