
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag('logo.png'), root_path, class: 'navbar-brand ' %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        	<button type="button" class="custom-toggle " style="display: block;">
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			</button>
        </a>
        <div class="dropdown-menu">
        	<div class="row">
        		<div class="col-sm-6 text-center">
              <%= link_to "<span class='glyphicon glyphicon-user'></span><span class='user_name'>Patients</span>".html_safe, patient_plist_path %> 
            </div>  
        		<div class="col-sm-6 text-center">
              <a href="/doctor/dlist">
                <%=image_tag 'doctor-icon.png', class: 'img-responsive doctor-icon'%></span class="text-center">Doctors</div>
              </a>
        	</div>
        	<div class="row">
            <a href="/clinic/cliniclist">
              <div class="col-sm-6 text-center"><span class="glyphicon glyphicon-user"></span><span class="text-center">Clinics</span></div>
            </a>
            <a href="/clinician/clist">
        		  <div class="col-sm-6 text-center"><span class="glyphicon glyphicon-user"></span><span class="text-center">Clincians</span></div>
            </a>
        	</div>
        	<div class="row">
        		<div class="col-sm-6 text-center reports-modal" ><span class="glyphicon glyphicon-user" data-toggle="modal" data-target="#exampleModalCenter"></span><span class="text-center" data-toggle="modal" data-target="#exampleModalCenter">Reports</span></div>
        	</div>
        </div>
      </li>
    </ul>
    <div class="col-sm-3 col-md-3 col-md-offset-2">
        <div class="form-group">
                <div class="icon-addon addon-lg">
                    <input type="text" placeholder="Search" class="form-control" id="search">
                    <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
                </div>
		</div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span><span class="user_name">John Example</span></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Reports</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-row row">
          <div class="form-group col-sm-6 input_doctor_patient">
            <label for="inputdoctor" class="col-sm-2 col-form-label">Doctor</label>
            <div class="col-sm-9 pull-right">
              <input type="text" class="form-control" id="inputdoctor">
            </div>
        </div>
        <div class="form-group col-sm-6 input_doctor_patient">
            <label for="inputpatient" class="col-sm-2 col-form-label">Patient</label>
            <div class="col-sm-9 pull-right">
              <input type="text" class="form-control" id="inputpatient">
            </div>
        </div>
        </div>
        <!-- date -->
        <div class="form-inline form-group row form-calendar">
          <div class="col-sm-6">
              <div class="form-group form-inline ">
                  <label for="inputdate">Date</label>
                  <div class='input-group date col-sm-9 pull-right' id='datetimepicker8'>
                      <input type='text' id="inputdate" class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar">
                          </span>
                      </span>
                  </div>
              </div>
          </div>
          <div class='col-sm-6'>
                  <div class="form-group form-inline">
                      <label for="inputtime">Time</label>
                      <div class='input-group date col-sm-9 pull-right' id='datetimepicker3'>
                          <input type='text' id="inputtime" class="form-control" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-time"></span>
                          </span>
                      </div>
                  </div>
          </div>
        </div>
        <div class="form-group row ">
          <label for="appointement_type" class="col-sm-4 col-form-label">Appointment Type</label>
          <div class="col-sm-8 pull-right">
            <select id="appointement_type" class="form-control">
                <option selected>Initial Consult</option>
                <option>Initial Consult2</option>
              </select>
          </div>
      </div>
      <div class="form-group row">
          <label for="appointement_type" class="col-sm-2 col-form-label">Note</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="3"></textarea>
          </div>
      </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker8').datetimepicker({
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa glyphicon-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
                });
            });
            $(function () {
                    $('#datetimepicker3').datetimepicker({
                        format: 'LT'
                    });
                });
        </script>
        <!-- end date -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn btn-primary pull-right">Enter Waiting Room</button>
      </div>
    </div>
  </div>
</div>
